$backgroundWhite: #FEFDFA;

// Remove these from the CSS. We're only using 1 bg color.
$bg: #46535E;
$mediumBg: #949AA0;
$darkBg: #1D2832;
$lightBg: #F5F8F1;
// end

$greenLight: #49FFCC;
$greenDark: #1ADEDB;

$blueLight: #57E3FD;
$blueDark: #2BBFD9;

$purpleLight: #FF5DFA;
$purpleDark: #C746E9;

$orangeLight: #FD9C44;
$orangeDark: #F67A1B;

$yellowLight: #FCE973;
$yellowDark: #FFC868;

$pinkLight: #FB70AF;
$pinkDark: #EE3B76;
