$bg: #46535E;
$mediumBg: #949AA0;
$darkBg: #1D2832;
$lightBg: #F5F8F1;

$greenLight: #61f9ce;
$greenDark: #0ab3a2;

$blueLight: #57D0FD;
$blueDark: #3A9BC3;

$purpleLight: #F477FB;
$purpleDark: #C93BD9;

$orangeLight: #FF7853;
$orangeDark: #E95832;

$yellowLight: #FFD687;
$yellowDark: #FFAC53;

$pinkLight: #FF7493;
$pinkDark: #C93BD9;
