$radius: 15px;

.crate-holder {
	width: 80px;
	position: relative;
  margin: 0 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
//
// .crate-top {
// 	height:  87%;
// 	width: 100%;
// 	background-color: $greenLight;
// 	border-radius: $radius;
// 	z-index: 2;
// 	top: -36%;
// 	position: absolute;
// }
//
// .crate-bottom {
// 	height: 100%;
// 	width: 100%;
// 	background-color: $greenDark;
// 	border-radius: $radius;
// 	z-index: 1;
// 	position: absolute;
// }
.pressed-crate {
  padding-top: 30px;
}

.crate-shadow {
	width: 100%;
  height: 50px;
  position: absolute;
  top: 28px;
  z-index: -1;
  border-radius: 13px;
	box-shadow: 0px 17px 12px 0px rgba(0,0,0,0.50);
	// position: absolute;
}

// .crate-top-pressed {
// 	@extend .crate-top;
// 	width: 103%;
// 	top: 0;
// 	left: 2%;
// }
//
// .crate-bottom-pressed {
// 	@extend .crate-bottom;
// 	width: 110%;
// 	top: 4%;
// 	left: -0.2%;
// }

.crate-shadow-pressed {
	@extend .crate-shadow;
  top: 32%;
  border-radius: 24px;
}

.popping {
  visibility: hidden;
}
