@import 'colors';

.inventory-page-holder {

  header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #293640;
    height: 200px;
    border-bottom: 45px solid $darkBg;
  }

  .container-fluid {
    &.body-content {
      position: absolute;
      top: 200px;
      bottom: 50px;
      right: 0;
      left: 0;
      overflow-y: auto;
      background-color: #fff
    }
  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #46535d;
    height: 50px;
  }

  .user-avatar-holder {
    margin: 0 auto;
    width: 100%;
    position: relative;
    .user-avatar {
      padding: 15px;
      border-radius: 35px;
      margin: 0 auto;
      display: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .inventoryFeedAvatar {
    width: 32px;
    height: 32px;
  }

  .user-info-holder {
    margin: 20px;
    .name {
      color: white;
    }
    .username {
      color: $mediumBg;
    }
  }
}
