:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'colors';
  @import 'inventory-page';
  @import 'profile-page';
  @import 'crate-page';
  @import 'typography';
  @import 'animation';
  @import 'grid';

html, body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: $backgroundWhite;
  margin: 0;
  padding: 30px;
  -webkit-text-size-adjust: 100%;
}

.logoType {
  color: #CFDBDC;
  display: inline;
}

// Use this to center and div within a div
.actionButton {
  // position: relative;
  height: 100%;
  position: absolute;
  top: -2em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.21);
  .actionIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Absolute-Center {
  bottom: 0; left: 0; top: 0; right: 0;
  margin: auto;
  position: absolute;
  width: 200px;
  height: 300px;
  text-align: center;
}

.container-fluid {
  &.body-content {
    position: absolute;
    top: 200px;
    bottom: 50px;
    right: 0;
    left: 0;
    overflow-y: auto;
    background-color: $backgroundWhite;
  }
  &.body-content-home {
    position: absolute;
    top: 65px;
    bottom: 50px;
    right: 0;
    left: 0;
    overflow-y: auto;
    background-color: $backgroundWhite;
  }
  &.body-content-create {
    position: absolute;
    top: 115px;
    bottom: 50px;
    right: 0;
    left: 0;
    overflow-y: auto;
    background-color: $backgroundWhite;
  }
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
}

.downArrow {
  width: 25px;
}


.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.outerEmpty {
  position: relative;
  height: 100%;
  .innerEmpty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .emptystate {
      height: 150px;
    }
  }
}

.createHeader {
  padding: 0;
  margin-top: 10px;
  margin-right: 10px;
}

input[role="combobox"]{
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  box-shadow: none;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
  float:left;
}

.labelInput {
  padding: 20px 0 0;
}

.footerCreate {
  margin-bottom: 15px;
}

.toForm {
  padding-left: 10px;
  margin-bottom: 50px !important;

}

.createContainerImg {
  height: 50% !important;
}

.preview-img {
  height: 50px;
}

.crate-holder {
	width: 80px;
  height: 100%;
}

.hide {
  visibility: hidden;
}

.noTouch {
  pointer-events: none;
}

.emojiPressed {
  margin-top: 23px;
  transform:  scale(1, .8) translate(-50%, -50%) !important;
}

.scroll {
  overflow-y: scroll;
  overflow-x: none;
  // z-index: 11;
  // width: 100%;
  // position: absolute;
  -webkit-overflow-scrolling: touch;
  max-height: 400px;
  // margin-bottom: -1px;
  // margin-top: -1px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}
}
